.container{
	background-color: #f4f4f4;
	align-items: center;
	.catagory-container{
	 flex-grow: 1;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
	 align-items: center;
	 width:100%;
	   .search-container{
		   width:100%;
		   height:auto;
		   background-color:rgba(255,255,255,1);
		   .search-container{
		      width: 750rpx;
		      height: 128rpx;
		      background: #ffffff;
		      display: flex;
		      justify-content: center;
		      align-items: center;
		      padding: 32rpx 30rpx 32rpx 32rpx;
		   
		   
		   	.search-input{
		   		width:688rpx;
		   		height:64rpx;
		   		background-color:rgba(239,239,244,1);
		   		border-radius:30rpx;
		   		display: flex;
		   		justify-content: flex-start;
		   		align-items: center;
		   		padding-left: 16rpx;
		   		.placeholder{
		   			width:auto;
		   			height:34rpx;
		   			font-size:24rpx;
		   			font-family:PingFangSC-Regular,PingFang SC;
		   			font-weight:400;
		   			color:rgba(184,184,184,1);
		   			line-height:34rpx;
		   			margin-left: 16rpx;
		   		}
		   	}
		   }
	   }
	   .tab-container{
		   width:100%;
		   height:auto;
		   background-color:rgba(255,255,255,1);
		   
		   .book-info{
		   	display: flex;
		   	flex-direction: column;
		   	justify-content: flex-start;
		   	align-items: center;
		   	
		   }
	   }
	   .no-more{
	   	width:100%;
	   	height:32rpx;
	   	font-size:22rpx;
	   	display: flex;
	   	margin-top: 32rpx;
	   	margin-bottom: 48rpx;
	   	flex-direction: row;
	   	justify-content: center;
	   	align-items: center;
	   	font-family:PingFangSC-Regular,PingFang SC;
	   	font-weight:400;
	   	color:#B8B8B8;
	   	line-height:32rpx;
	   }
	}

	
	
}