.container{
		background-color:rgba(247,247,247,1);
	.notes-top{
		width:100%;
		height:176rpx;
		background-color:rgba(249,109,61,1);
		padding: 24rpx 30rpx 40rpx 32rpx;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		.notes-info{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			.notes-dot{
				width:8rpx;
				height:8rpx;
				border-radius: 50%;
				background-color:rgba(255,255,255,1);
				margin: 0 20rpx 0 22rpx;
			}
			.notes-title{
				width:auto;
				height:56rpx;
				font-size:40rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(239,239,244,1);
				line-height:56rpx;
			}
			.notes-num{
				width:auto;
				height:56rpx;
				font-size:22rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(239,239,244,1);
				line-height:32rpx;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
			}
		}
		.notes-icon{
			width:93rpx;
			height:112rpx;
			 background-color:rgba(229,228,229,0.09);
		}
	}
	.notes-container{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-grow: 1;
		.notes-main{
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100vw;
			.notebook-container{
				width:100%;
				height:auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 32rpx 30rpx 24rpx 30rpx;
				.check-notebooks{
					width: 140rpx;
					height: 40rpx;
					font-size: 28rpx;
					font-family: PingFangSC-Regular, PingFang SC;
					font-weight: 400;
					color: #576b95;
					line-height: 40rpx;

					
				}
				.notebooks{
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					width: auto;
					height: auto;
					flex-wrap: wrap;
					// padding: 32rpx 30rpx 24rpx 30rpx;
					flex: 1;


					.all{
						width:56rpx;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(249,109,61,1);
						line-height:40rpx;
						 margin-right: 20rpx;
					}
					.bookname{
						width: auto;
						height: 40rpx;
						font-size: 28rpx;
						font-family: PingFangSC-Regular, PingFang SC;
						font-weight: 400;
						color: #969696;
						line-height: 40rpx;
						margin: 0rpx 20rpx 0rpx 0rpx;

					}
				}
				
			}

			.notes-info-container{
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: inherit;
				.notes-empty{
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					width: inherit;
					.notes-icon{
						width:167rpx;
						height:239rpx;
						// background-color:rgba(239,239,244,1);
						margin-bottom: 56rpx;
						margin-top: 204rpx;
					}
					.no-notes{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(184,184,184,1);
						line-height:40rpx;
					}
				}
				.notes-card{
					width:100%;
					min-height:128rpx;
					height: auto;
					margin-top: 32rpx;
					background-color:rgba(255,255,255,1);
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					padding: 16rpx 54rpx 28rpx 32rpx;
			
	
			}
			
			}
			.note-list{
				width:688rpx;
				height:auto;
				background-color:rgba(255,255,255,1);
				border-radius:20rpx;
				padding: 32rpx 16rpx 16rpx 16rpx;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				margin: 32rpx 30rpx 0rpx 30rpx;
				.note-title{
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-end;
					width:100%;
					height: auto;
					.book-name{
						width:64rpx;
						height:64rpx;
						background:rgba(155,167,177,1);
						border-radius:4rpx;
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						margin-right:16rpx;
						.text{
							width:29rpx;
							height:41rpx;
							font-size:29rpx;
							font-family:PingFangSC-Regular,PingFang SC;
							font-weight:400;
							color:rgba(255,255,255,1);
							line-height:40rpx;
						}
					}
					.title-container{
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						align-items: flex-start;
						width:528rpx;
						height:64rpx;
						.title{
							width:inherit;
							height:40rpx;
							font-size:29rpx;
							font-family:PingFangSC-Semibold,PingFang SC;
							font-weight:600;
							color:rgba(11,12,13,1);
							line-height:40rpx;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 1;       
							overflow: hidden;
							text-overflow:ellipsis;
						}
						.time{
							width:auto;
							height:26rpx;
							font-size:18rpx;
							font-family:PingFangSC-Regular,PingFang SC;
							font-weight:400;
							color:rgba(150,150,150,1);
							line-height:26rpx;
						}
						
					}
					.more-operator{
						width: 36rpx;
						height: auto;
						color: #666666;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;
						font-size: 41rpx;
					}
					
					
				}
				.note-content{
					width:658rpx;
					height:auto;
					font-size:29rpx;
					font-family:PingFangSC-Regular,PingFang SC;
					font-weight:400;
					color:rgba(102,102,102,1);
					line-height:40rpx;
					margin-top: 16rpx;
					display: -webkit-box;
					-webkit-box-orient:vertical;
					-webkit-line-clamp:6;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.oprator-container{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					width:100%;
					margin-top:36rpx;
					
					.share-list{
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						.comment-share{
								display: flex;
								flex-direction: row;
								justify-content: flex-end;
								align-items: center;
								.share{
									width:48rpx;
									height:34rpx;
									font-size:24rpx;
									font-family:PingFangSC-Regular,PingFang SC;
									font-weight:400;
									color:rgba(102,102,102,1);
									line-height:34rpx;
									margin-left: 24rpx;
								}
								.shared{
									width:auto;
									height:34rpx;
									font-size:24rpx;
									font-family:PingFangSC-Regular,PingFang SC;
									font-weight:400;
									color:rgba(249,109,61,1);
									line-height:34rpx;
									margin-left: 24rpx;
								}
							}
					}
					.opr-btn{
						width:113rpx;
						height:48rpx;
						background:rgba(239,239,244,1);
						border-radius:24rpx;
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						align-items: center;
						.cover-image{
							width:20rpx;
							height:22rpx;
							
						}
						.text{
							width:48rpx;
							height:34rpx;
							font-size:24rpx;
							font-family:PingFangSC-Regular,PingFang SC;
							font-weight:400;
							color:rgba(102,102,102,1);
							line-height:34rpx;
						}
						
					}
					
				}
				.basic-info{
					position: relative;
					width:100%;
					height:auto;
					background-color:rgba(255,255,255,1);
					padding: 16rpx 0rpx 16rpx 0rpx;
					margin-top: 32rpx;
				.book-shape{
					position: absolute;
					right:8rpx;
					width: 16rpx;
					height: 24rpx;
					top: 4rpx;

				}
				.comment-container{
					
					width:656rpx;
					height:304rpx;
					background-color:rgba(239,239,244,1);
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					padding: 16rpx;
					.top-container{
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						width:100%;
						.userInfo{
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							.avatar{
								width:48rpx;
								height:48rpx;
								border-radius: 50%;
								margin-right: 16rpx;
								.cover-image{
									width:inherit;
									height:inherit;
									border-radius: 50%;
								}
							}
							.info{
								display: flex;
								flex-direction: column;
								justify-content: flex-start;
								align-items: flex-start;
								.name{
									width:auto;
									height:34rpx;
									font-size:24rpx;
									font-family:PingFangSC-Semibold,PingFang SC;
									font-weight:600;
									color:rgba(0,0,0,1);
									line-height:34rpx;
								}
								.time{
									width:auto;
									height:26rpx;
									font-size:18rpx;
									font-family:PingFangSC-Regular,PingFang SC;
									font-weight:400;
									color:rgba(150,150,150,1);
									line-height:26rpx;
								}
							}
						}
						.book-info{
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-end;
							width:auto;
							.book-name{
								width:auto;
								height:34rpx;
								font-size:24rpx;
								font-family:STSongti-SC-Bold,STSongti-SC;
								font-weight:bold;
								color:rgba(102,102,102,1);
								line-height:34rpx;
							}
							.scorer{
								width:auto;
								height:26rpx;
								font-size:18rpx;
								font-family:PingFangSC-Regular,PingFang SC;
								font-weight:400;
								color:rgba(150,150,150,1);
								line-height:26rpx;
							}
						}
					}
					.content{
						width:624rpx;
						height:118rpx;
						font-size:29rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:40rpx;
						display: -webkit-box;
						-webkit-box-orient:vertical;
						-webkit-line-clamp:3;
						overflow: hidden;
						text-overflow: ellipsis;
						margin-bottom: 26rpx;
					}
					.releation-info{
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						width: 100%;
						.releation{
							width:auto;
							height:32rpx;
							font-size:22rpx;
							font-family:PingFangSC-Regular,PingFang SC;
							font-weight:400;
							color:rgba(150,150,150,1);
							line-height:32rpx;
						}
					}
					
				}
			}	
			}
			.nomore-tip{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				
				width:auto;
				height:34rpx;
				font-size:24rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(184,184,184,1);
				line-height:34rpx;
				margin: 46rpx 0rpx;
			}
			.notes-icon{
				width:167rpx;
				height:239rpx;
				// background-color:rgba(239,239,244,1);
				margin-bottom: 56rpx;
				
			}
			.no-notes{
				width:auto;
				height:40rpx;
				font-size:28rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(184,184,184,1);
				line-height:40rpx;
			}
			.create-btn{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-top: 70rpx;
				width:368rpx;
				height:80rpx;
				background:rgba(249,109,61,1);
				border-radius:8rpx;
				color:rgba(255,255,255,1);;
			}
		}
	}
	.dialog-container{
		display: flex;
		flex-direction:column ;
		justify-content: center;
		align-items: center;
		.forward-contianer{
			width:100%;
			height:auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.forward-tip{
				margin-left: 16rpx;
				width:auto;
				height:40rpx;
				font-size:28rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(0,0,0,1);
				line-height:40rpx;
				
			}
			.forward-comment{
				
				width:750rpx;
				height:112rpx;
				background:rgba(255,255,255,1);
				border-bottom: 2rpx solid #e2e2e2;
		
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding-left: 32rpx;
				
			}
		}
		.space-line{
			width:750rpx;
			height:16rpx;
			background-color:rgba(242,242,242,1);
		}
		
		.share-container{
			width:750rpx;
			height:980rpx;
			background-color:rgba(255,255,255,1);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		    .top-container{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				width:auto;
				margin-left:152rpx ;
				margin-right:46rpx ;
				.close{
					width:28rpx;
					height:28rpx;
					margin-left: 76rpx;
					color:rgba(102,102,102,1);
				}
				.image-container{
					width:448rpx;
					height:736rpx;
					
					background:rgba(255,255,255,1);
					box-shadow:0rpx 0rpx 16rpx 0rpx rgba(89,89,89,1);
					border-radius:20rpx;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					
					.image-title{
						width:448rpx;
						height:192rpx;
						background-color:rgba(249,109,61,1);
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						padding-top: 32rpx;
						padding-left: 34rpx;
						border-radius:20rpx;
						.name-container{
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: flex-end;
							.title-name{
								width:auto;
								height:48rpx;
								font-size:34rpx;
								font-family:PingFangSC-Semibold,PingFang SC;
								font-weight:600;
								color:rgba(247,247,247,1);
								line-height:48rpx;
								margin-left: -17rpx;
				
							}
							.essay{
								width:48rpx;
								height:34rpx;
								font-size:24rpx;
								font-family:STSongti-SC-Regular,STSongti-SC;
								font-weight:400;
								color:rgba(255,255,255,1);
								line-height:34rpx;
								margin-left: 12rpx;
							}
						}
						.chicken-soul{
							width:auto;
							height:40rpx;
							font-size:28rpx;
							font-family:STSongti-SC-Bold,STSongti-SC;
							font-weight:bold;
							color:#FFFFFF;
							line-height:40rpx;
							margin-top: 24rpx;
						}
						.book-name{
							width:auto;
							height:28rpx;
							font-size:20rpx;
							font-family:STSongti-SC-Bold,STSongti-SC;
							font-weight:bold;
							color:#EEEEEE;
							line-height:28rpx;
						}
					}
					.image-content{
						
						padding: 32rpx;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						flex-grow: 1;
						.image-comment-container{
							width: 384rpx;
							max-height: 162px;
							font-size: 24rpx;
							font-family: STSongti-SC-Regular, STSongti-SC;
							font-weight: 400;
							color: #666666;
							line-height: 36rpx;
							display: -webkit-box;
							-webkit-line-clamp: 8;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
		
						}
						.bottom-info{
							.image-comment-byname{
								width:100%;
								display: flex;
								flex-direction: row;
								justify-content: flex-end;
								align-items: center;
								margin-top: 30rpx;
								height:34rpx;
								font-size:24rpx;
								font-family:STSongti-SC-Regular,STSongti-SC;
								font-weight:400;
								color:rgba(102,102,102,1);
								line-height:34rpx;
								
							}
							.image-qrcode-container{
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								align-items: center;
								.qrcode-image{
									width:96rpx;
									height:96rpx;
									margin: 16rpx;
								}
								.qrcode-tip{
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									align-items: flex-start;
							
									.tips{
										width:216rpx;
										height:34rpx;
										font-size:24rpx;
										font-family:STSongti-SC-Regular,STSongti-SC;
										font-weight:400;
										color:rgba(150,150,150,1);
										line-height:34rpx;
										display: flex;
										flex-direction: row;
										justify-content: flex-start;
										align-items: center;
										flex-wrap: wrap;
									
									}
									.tips2{
										display: flex;
										flex-direction: row;
										justify-content: flex-start;
										align-items: center;
										.from{
											width:auto;
											height:34rpx;
											font-size:24rpx;
											font-family:STSongti-SC-Regular,STSongti-SC;
											font-weight:400;
											color:rgba(150,150,150,1);
											line-height:34rpx;
											display: flex;
											flex-direction: row;
											justify-content: flex-start;
											align-items: center;
											flex-wrap: wrap;
										}
										.zhilun{
											width:auto;
											height:34rpx;
											font-size:24rpx;
											font-family:STSongti-SC-Bold,STSongti-SC;
											font-weight:bold;
											color:rgba(102,102,102,1);
											line-height:34rpx;
										}
									}
									
									
								}
							}
						}
						
					}
				}
			}
			.tip-container{
				width:100%;
				margin:24rpx 0rpx 32rpx 0rpx ;
				
				height:40rpx;
				font-size:28rpx;
				font-family:STSongti-SC-Regular,STSongti-SC;
				font-weight:400;
				color:rgba(150,150,150,1);
				line-height:40rpx;
			}
			.button-container{
				width:100%;
				height: 80rpx;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					
					.btn-text{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:STSongti-SC-Regular,STSongti-SC;
						font-weight:400;
						line-height:40rpx;
						margin-left: 8rpx;
					}
					.size{
						font-size: 36rpx;
					}
					.save-image{
						width:240rpx;
						height:80rpx;
						background:rgba(249,109,61,1);
						border-radius:20rpx;
						border:2rpx solid rgba(255,66,2,1);
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						
						.white{
							color:rgba(255,255,255,1);
						}
					}
					.share-friends{
						width:240rpx;
						height:80rpx;
						background:rgba(251,250,252,1);
						border-radius:20rpx;
						border:2rpx solid rgba(0,0,0,0.15);
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						padding: 0rpx;
						
						
						.black{
							color:rgba(53,53,53,1);
						}
						.no-border{
							border: transparent ! important;
							width: auto !important;
							background:rgba(251,250,252,1) !important;
							padding: 0rpx;
							margin: 0rpx;
			
						}
					}
			}
		}
		
		.confirm-delete-reply{
	
			width:100%;
			height:auto;
		
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.confirm-delete-tips{
				width:100%;
				height:112rpx;
				background:rgba(242,242,242,1);
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
					padding-left: 34rpx;
				.text{
					width:auto;
					height:40rpx;
					font-size:28rpx;
					font-family:PingFangSC-Regular,PingFang SC;
					font-weight:400;
					color:rgba(150,150,150,1);
					line-height:40rpx;
				}
			}
			.confirm-delete{
				width:100%;
				height:112rpx;
				background:rgba(255,255,255,1);
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding-left: 34rpx;
				.delete-text{
					width:auto;
					height:40rpx;
					font-size:28rpx;
					font-family:PingFangSC-Regular,PingFang SC;
					font-weight:400;
					color:rgba(224,32,32,1);
					line-height:40rpx;
					margin-left: 22rpx;
				}
			}
		
		}
		.add-to-booknotes{
			width:100%;
			height:112rpx;
			background-color:rgba(255,255,255,1);
			padding-left: 34rpx;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			border-bottom: 2rpx solid #e2e2e2;
			.add-plus{
				width:28rpx;
				height:32rpx;
				image{
					width:inherit;
					height: inherit;
				}
			}
			.add-text{
				width:auto;
				height:40rpx;
				font-size:28rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:#000000;b
				line-height:40rpx;
				margin-left: 22rpx;
			}
		}
		.delete-comment-reply{
			width:100%;
			height:112rpx;
			background-color:rgba(255,255,255,1);
			padding-left: 34rpx;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			
			.delete-text{
				width:auto;
				height:40rpx;
				font-size:28rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(224,32,32,1);
				line-height:40rpx;
				margin-left: 22rpx;
			}
			
			
		}
		.delete-cancel{
			width:100%;
			height:112rpx;
			background-color:rgba(255,255,255,1);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-top: 16rpx;
			.delete-cancel-text{
				width:auto;
				height:48rpx;
				font-size:34rpx;
				font-family:PingFangSC-Regular,PingFang SC;
				font-weight:400;
				color:rgba(0,0,0,1);
				line-height:48rpx;
			}
		}
		.split-bar{
			width:268rpx;
			height:10rpx;
			background-color:rgba(0,0,0,1);
			border-radius:200rpx;
			margin:40rpx 0rpx 18rpx 0rpx;
		}
	}
	
}