.container{
		background-color:rgba(247,247,247,1);
	.comment-box{
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0%;
			.comment-card{
				width:100%;
				height:192rpx;
				background:rgba(255,255,255,1);
				margin: 32rpx 0rpx;
				
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				.comment-book{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.comment-num{
						width:auto;
						height:56rpx;
						font-size:40rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:56rpx;
					}
					.comment-type{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:40rpx;
					}
				}
				.comment-vedio{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.comment-num{
						width:auto;
						height:56rpx;
						font-size:40rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:56rpx;
					}
					.comment-type{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:40rpx;
					}
				}
				.split-line{
					width:2rpx;
					height:116rpx;
					margin: 38rpx 0rpx;
					border: 1rpx solid #EFEFF4;
					
				}
			}
			.comment-container{
				.no-comment{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.no-icon{
						width:240rpx;
						height:288rpx;
						// background-color:rgba(239,239,244,1);
						margin: 286rpx 248rpx 92rpx 250rpx;
					}
					.no-tip{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(184,184,184,1);
						line-height:40rpx;
					}
					
				}
				.nomore-tip{
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					
					width:auto;
					height:34rpx;
					font-size:24rpx;
					font-family:PingFangSC-Regular,PingFang SC;
					font-weight:400;
					color:rgba(184,184,184,1);
					line-height:34rpx;
					margin: 46rpx 0rpx;
				}
				.comment-info{
					
					.my-comment-card{
						width:100%;
						height:auto;
						background-color:rgba(255,255,255,1);
						padding: 34rpx 30rpx 16rpx 32rpx;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						
						.content-container{
							width:100%;
							height: inherit;
							border-bottom: 2rpx solid #EFEFF4;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: center;
							
						.basic-info{
							width: inherit;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							.info-container{
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								align-items: center;
								.avatar{
									width: 64rpx;
									height: 64rpx;
									border-radius: 50%;
									background-color: #f8f7ff;
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									.cover-image{
										width: inherit;
										height:inherit;
										border-radius: 50%;
									}
									
								}
								.info{
									margin-left: 16rpx;
									.name{
										width:auto;
										height:34rpx;
										font-size:24rpx;
										font-family:PingFangSC-Semibold,PingFang SC;
										font-weight:600;
										color:rgba(0,0,0,1);
										line-height:34rpx;
									}
									.date{
										width:auot;
										height:26rpx;
										font-size:18rpx;
										font-family:PingFangSC-Regular,PingFang SC;
										font-weight:400;
										color:rgba(150,150,150,1);
										line-height:26rpx;
									}
								}
								
							}
							
								.more-operator{
									width: 36rpx;
									height: auto;
									color: #666666;
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									align-items: center;
									font-size: 41rpx;
							
							
								}
							
							}
						.comment-detail{
							width:624rpx;
							height:auto;
							background-color:rgba(239,239,244,1);
							border-radius:10rpx;
							margin-left: 64rpx;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-start;
							padding: 16rpx;
							margin-top: 24rpx;
							.comment-info{
								margin: 16rpx 16rpx 10rpx 16rpx;
								width: auto;
								height: auto;
								font-size: 28rpx;
								font-family: PingFangSC-Regular, PingFang SC;
								font-weight: 400;
								color: #666666;
								line-height: 39rpx;
								border-bottom: 4rpx solid #F7F7F7;
								.read-more{
									display: -webkit-box;
									-webkit-box-orient: vertical;
									-webkit-line-clamp: 5;       
									overflow: hidden;
									text-overflow:ellipsis;
								}

							}
							.comment-book{
								display: flex;
								flex: row;
								justify-content: flex-start;
								align-items: center;
								
								.book-url{
									width:66rpx;
									height:96rpx;
									margin: 16rpx 14rpx 16rpx 0rpx;
								}
								.book-info{
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									align-items: flex-start;
							
									.name{
										width:auto;
										height:40rpx;
										font-size:28rpx;
										font-family:STSongti-SC-Bold,STSongti-SC;
										font-weight:bold;
										color:rgba(102,102,102,1);
										line-height:40rpx;
									}
									.stars{
										display: flex;
										flex-direction: row;
										justify-content: flex-start;
										align-items: center;
										margin-top: 8rpx;
										width:auto;
										height:auto;
										.commentStar{
											width:auto;
											height:26rpx;
											font-size:18rpx;
											font-family:PingFangSC-Regular,PingFang SC;
											font-weight:400;
											color:rgba(150,150,150,1);
											line-height:26rpx;
										}
									}
									
								}
								.book-icon{
									width: 0rpx;
									height: 49rpx;
									border-width: 16rpx;
									border-color: #FFAD91;
									border-bottom-color: transparent;
									margin-left: 219rpx;
									margin-top: -53rpx;
									border-style: solid;
							
							
									
								}
							}
							
						}	
						
						.foot-container{
							width:100%;
							display: flex;
							flex-direction: row;
							justify-content: space-evenly;
							align-items: center;
							margin: 32rpx 0rpx 24rpx 64rpx;
							.comment-refer{
								width:auto;
								height:40rpx;
								font-size:24rpx;
								font-family:PingFangSC-Regular,PingFang SC;
								font-weight:400;
								color:rgba(102,102,102,1);
								line-height:39rpx;
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								align-items: center;
								
								.reference{
									color: #576B95;
									margin: 0rpx 4rpx;
								}
								.dot{
									margin: 0rpx 15rpx;
									width:5rpx;
									height: 5rpx;
									background-color: #666666;
									border: 50%;
								}
							}
							.comment-share{
								display: flex;
								flex-direction: row;
								justify-content: flex-end;
								align-items: center;
								.share{
									width:48rpx;
									height:34rpx;
									font-size:24rpx;
									font-family:PingFangSC-Regular,PingFang SC;
									font-weight:400;
									color:rgba(102,102,102,1);
									line-height:34rpx;
									margin-left: 24rpx;
								}
							}
						}
				
						}
					}

				}
			}
			
	}
	
}