.container{
		background-color:rgba(247,247,247,1);
	.comment-box{
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0%;
			.comment-card{
				width:100%;
				height:192rpx;
				background:rgba(255,255,255,1);
				margin-top: 32rpx;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				.comment-book{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.comment-num{
						width:auto;
						height:56rpx;
						font-size:40rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:56rpx;
					}
					.comment-type{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:40rpx;
					}
				}
				.comment-vedio{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.comment-num{
						width:auto;
						height:56rpx;
						font-size:40rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:56rpx;
					}
					.comment-type{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:40rpx;
					}
				}
				.split-line{
					width:2rpx;
					height:116rpx;
					margin: 38rpx 0rpx;
					border: 1rpx solid #EFEFF4;
					
				}
			}
			.comment-container{
				.no-comment{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.no-icon{
						width:240rpx;
						height:288rpx;
						// background-color:rgba(239,239,244,1);
						margin: 286rpx 248rpx 92rpx 250rpx;
					}
					.no-tip{
						width:auto;
						height:40rpx;
						font-size:28rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(184,184,184,1);
						line-height:40rpx;
					}
					
				}
				.nomore-tip{
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					
					width:auto;
					height:34rpx;
					font-size:24rpx;
					font-family:PingFangSC-Regular,PingFang SC;
					font-weight:400;
					color:rgba(184,184,184,1);
					line-height:34rpx;
					margin: 46rpx 0rpx;
				}
				.comment-info{
					
					.comment-type-title{
						width:auto;
						height:48rpx;
						font-size:34rpx;
						font-family:PingFangSC-Regular,PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
						line-height:48rpx;
						margin:32rpx 0rpx 16rpx 32rpx;
					}
					.not-online{
						background-color:rgba(239,239,244,1) !important;
						box-shadow:0rpx -2rpx 0rpx 0rpx rgba(239,239,244,1) !important;
					}
					.comment-type-detail{
						width:100%;
						height:128rpx;
						background:rgba(255,255,255,1);
						box-shadow:0rpx -2rpx 0rpx 0rpx rgba(238,238,238,1);
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						padding: 0 36rpx 0 32rpx;
						
						.name-detail{
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: center;
							.video-resume{
								width:59rpx;
								height:59rpx;
						
							}
							.name-resume{
								width:64rpx;
								height:64rpx;
								background:rgba(81,125,168,1);
								border-radius:10rpx;
								color: white;
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
							}
							.name-info{
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: flex-start;
								margin-left: 32rpx;
								.name{
									width:auto;
									height:40rpx;
									font-size:28rpx;
									font-family:PingFangSC-Regular,PingFang SC;
									font-weight:400;
									color:rgba(11,12,13,1);
									line-height:40rpx;
									
								}
								.unactived{
									color:rgba(150,150,150,1)!important;
								}
								.status{
									width:auto;
									height:28rpx;
									font-size:20rpx;
									font-family:PingFangSC-Regular,PingFang SC;
									font-weight:400;
									color:rgba(249,109,61,1);
									line-height:28rpx;
								}
							}
							
						}
						.comment-detail{
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: center;
							.red-dot{
								width:12rpx;
								height:12rpx;
								background:rgba(224,32,32,1);
								
							}
							.status{
								width:auto;
								height:34rpx;
								font-size:24rpx;
								font-family:PingFangSC-Regular,PingFang SC;
								font-weight:400;
								color:rgba(102,102,102,1);
								line-height:34rpx;
								margin: 0 12rpx;
							}
						}
					}
				}
			}
			
	}
	
}